@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);


@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('../fonts/Bebas Neue Cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}