.edit_f_error{background-color: #E01B1E !important;}
.label_sndok{text-align:center;}


	.form-1{
		width: 770px;
		background: -moz-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
		background: -webkit-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
		background: -ms-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
	    margin: 203px 0 0 105px;
	    height: 433px;
	    z-index: 2;
	    position: relative;
	    border-radius: 1px;
	}

 	.form-shadow{
		top: 1075px;
	    margin-left: 35px;
	    position: absolute;
	}

	.form-1 > form{
	    width: 724px;      
	    height: 385px;   
	    background: #fff;   
	    border: 1px solid rgba(95, 106, 132, 0.38);
	    margin: 0 auto;
	    top: 20px;
	    position: relative;
	}

 
	.form-1-content{color: #000;height: 250px; margin-top: 25px;}
	.form-1-content img{
	    float: left;
	    padding: 40px 0 0 43px;
	    display: inline-block;
	    position: absolute;
	    z-index: 0;
	}
	
	.form-1-content .text{
		display: inline-block;
    	width: 445px;
	    padding: 50px 0 0 230px;
	    z-index: 2;
	    position: relative;
	
	}

	.form-1-content .text h4{
		font: bold 2.5rem 'Open Sans';
	}

	.form-1-content .text p{
		font: 1.2rem 'Open Sans';
	
		padding: 9px 0 0 3px;
		line-height: 30px;
	}

	.form-1-content .text p span{
		text-transform: uppercase;
		font: bold 1.26rem 'Open Sans';
	}

	.input-name{
		font: bold 0.9rem 'Open Sans'; 
		float: left;
	}
	
	#input-name1{margin: 0px 0 0 109px;position: relative; z-index: 2;}
	#input-name2{margin: 0 0 0 25px;}


	.input-form{
		border: 1px solid #b7b6b6;
		font: 1rem 'Open Sans';
		color: #838383;
		border-radius: 2px;
		display: block;
		width: 209px;
		padding: 13px 0 7px 19px;
	}

	.form-1 .button{
		    font: bold 1.1rem 'Open Sans';
	    text-transform: uppercase;
	    border-radius: 2px;
	    color: #fff;
	    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
	    width: 175px;
	    display: block;
	    position: relative;
	    margin: 0px 0 0 237px;
	    padding: 10px 30px;
	}


	.form-2{
		width: 609px;
		background: rgba(255, 255, 255, 0.56);
		padding: 20px 0;
		z-index: 2;
		position: relative;
		border-radius: 1px;
		margin: 0px auto;
		top: 60px;
	}
	

	.form-2 > form{
		width: 565px;
		padding: 30px 0;
		border: 1px solid rgba(95, 106, 132, 0.38);
		margin: 0 auto;
		position: relative;
		background-color: #fff;
	}

 
	.form-2-content{color: #000;height: 109px;}
 	
	.form-2-content h4{
		font: bold 2.5rem 'Open Sans';
		color: #000;	
		text-align: center;
	} 

	.form-2-content p{
 		font: 1.5rem 'Open Sans';
		color: #000;
	}
 
	.form-2-content .text p span{
		text-transform: uppercase;
		font: bold 1.26rem 'Open Sans';
	}
 
	.input-form2{
		border: 1px solid #b7b6b6;
		font: 1rem 'Open Sans';
		color: #838383;
		border-radius: 2px;
		display: block;
		width: 272px;
		padding: 13px 0 7px 19px;
		margin: 8px auto;
	}

	.text-area{
		border: 1px solid #b7b6b6;
		font: 1rem 'Open Sans';
		color: #838383;
		border-radius: 2px;
		display: block;
		width: 272px;
		padding: 13px 0 7px 19px;
		margin: 13px auto 37px;
	}

	.form-2 .button2{
	    font: bold 1.1rem 'Open Sans';
	    text-transform: uppercase;
	    border-radius: 2px;
	    color: #fff;
	    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
	    width: 180px;
	    display: block;
	    position: relative;
	    margin: 0 auto;
	    padding: 20px 30px;
	}



	.form-3{
		width: 780px;	    
		background: #fff;	    
		height: 535px;
	    z-index: 2;
	    position: relative;
	    border-radius: 1px;	
		margin: 0 auto;
 	
	}

	.form-3-content{
	    width: 730px;      
	    height: 470px;      
	    border: 2px solid rgba(95, 106, 132, 0.38);
	    margin: 0 auto;
	    top: 20px;
	    position: relative;
	    background-color: #fff;
	    padding: 10px 0;
	}


	.form-3 .left-block{display: inline-block; float: left; width: 410px;padding: 0 20px 0;}
	.form-3 .left-block ul li{
		font: 1rem 'Open Sans';
	    color: #000;
	    padding: 5px 0 0 20px;
	    background: url(../img/ico2.png) no-repeat left 10px;
	}	
	
	.form-3 .left-block ul li span{
		font: bold 1rem 'Open Sans';
	}	
	
	.form-3 .left-block p{padding: 35px 0; font: 1rem 'Open Sans';}
	.form-3 .left-block p span{font: bold 1rem 'Open Sans';}
	.form-3 .left-block:before{
		content: '';
	    position: absolute;
	    left: 450px;
	    border-right: 1px solid rgba(0, 0, 0, 0.16);
	    height: 450px;
	    top: 20px;
	}

	.form-3 .right-block{text-align: center; display: inline-block; float: left; width: 280px;padding: 25px 0 0;}
	
	.form-3 .right-block h4{font: bold 1.5rem 'Open Sans';}
	.form-3 .right-block h4:after{
		content: '';
	    position: relative;
	    background: url(../img/line1.png) no-repeat center top;
	    height: 16px;	 
		width: 210px;
	    display: block;	    
		margin: 5px auto 15px;
	}

	.form-3 .right-block p{font: 1.2rem 'Open Sans';padding: 0 0 25px;}
	.form-3 .right-block p span{font: bold 1.2rem 'Open Sans';}

	.form-3 .right-block ul li{
	    font: 1rem 'Open Sans';
	    color: #000;
	}	

	.input-form3{
		border: 1px solid #b7b6b6;
		font: 1rem 'Open Sans';
		color: #838383;
		border-radius: 2px;
		display: block;
		width: 200px;
		padding: 10px;
		margin: 10px auto;
	}

	.button3{
		font: bold 1.1rem 'Open Sans';
	    text-transform: uppercase;
	    border-radius: 2px;
	    color: #fff;
	    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
	    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
		width: 220px;
	    position: relative;
	    margin-top: 10px;
	    padding: 10px 0;
	}





	.form-3.big{
		width: 780px;	    
		background: -moz-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
		background: -webkit-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
		background: -ms-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);	    
		height: 700px;
	    z-index: 2;
	    position: relative;
	    border-radius: 1px;	
		margin: 0 auto;
 	
	}

	 .big .form-3-content{
	    width: 730px;      
	    height: 635px;      
	    border: 2px solid rgba(95, 106, 132, 0.38);
	    margin: 0 auto;
	    top: 20px;
	    position: relative;
	    background-color: #fff;
	    padding: 10px 0;
	}

	.big .left-block:before{
		content: '';
	    position: absolute;
	    left: 450px;
	    border-right: 1px solid rgba(0, 0, 0, 0.16);
	    height: 620px;
	    top: 20px;
	}

	 .big .left-block ul li{
		font: 0.8rem 'Open Sans';
	    color: #000;
	    padding: 5px 0 0 20px;
	    background: url(../img/ico2.png) no-repeat left 10px;
	}	
	 
	.big .left-block ul li span{
		font: bold 0.8rem 'Open Sans';
	}	
	
	 .big .left-block p{padding: 35px 0; font:  0.8rem 'Open Sans';}
	 .big .left-block p span{font: bold  0.8rem 'Open Sans';}




.form-4{
	width: 609px;	    
	background: -moz-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
	background: -webkit-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);
	background: -ms-linear-gradient( 90deg, #e5e5e5 0%, #fff 100%);	   	
	height: 515px;
    z-index: 2;
    position: relative;
    border-radius: 1px;	
	margin: 0 auto;
 }


.form-4 > form{
    width: 565px;      
    height: 470px;      
    border: 1px solid rgba(95, 106, 132, 0.38);
    margin: 0 auto;
    top: 20px;
    position: relative;
    background-color: #fff;
}


.form-4-content{color: #000;height: 109px;}
	
.form-4-content h4{
	font: bold 2.5rem 'Open Sans';
	color: #000;
	padding-top: 13px;
} 

.form-4-content p{
	font: 1.5rem 'Open Sans';
	color: #000;
}

.form-4-content .text p span{
	text-transform: uppercase;
	font: bold 1.26rem 'Open Sans';
}

.input-form2{
	border: 1px solid #b7b6b6;
	font: 1rem 'Open Sans';
	color: #838383;
	border-radius: 2px;
	display: block;
	width: 272px;
	padding: 13px 0 7px 19px;
	margin: 8px auto;
}

.text-area{
	border: 1px solid #b7b6b6;
	font: 1rem 'Open Sans';
	color: #838383;
	border-radius: 2px;
	display: block;
	width: 272px;
	padding: 13px 0 7px 19px;
	margin: 13px auto 37px;
}

.form-4 .button2{
    font: bold 1.1rem 'Open Sans';
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    background: #FF8F00;
    width: 230px;
    height: 46px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 3px;
}


	.md-close{
position: absolute;
    top: 0px;
    right: -9px;
    background: url(../img/close.png) no-repeat center top;
    width: 8%;
    height: 30px;
    z-index: 2;
    background-size: contain;
	}
