@import url(../css/fonts.css);
@import url(../css/mform.css);
@import url(../css/owl.carousel.css);
@import url(../css/owl.theme.css);
@import url(../css/owl.transitions.css);
@import url(../css/component.css);
@import url(../css/animate.css);

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
}

html,
body {
    min-width: 960px;
    margin: 0;
}

li {
    list-style: none;
}


/*  SUPPORT CLASS */

.container {
    width: 960px;
    margin: 0 auto;
}

.padding-20 {
    padding: 20px 0;
}

.inline-block {
    display: inline-block;
    float: left;
}

.row {
    clear: both;
}

.text-center {
    text-align: center;
}


/* HEADER */

header {
    height: 90px;
}

.phone {
    font: 1.3rem 'Open Sans';
    margin: 30px 0 0px 40px;
    color: black;
    text-shadow: 2px 1px 4px #000;
}

.email {
    font: 1.3rem 'Open Sans';
    margin: 30px 0 0px 50px;
    color: black;
    text-shadow: 2px 1px 4px #000;
}

.contacts {
    font: 0.87rem 'Open Sans';
    padding: 20px 0 0 67px;
    text-align: right;
}

.contacts a.button {
    background: -moz-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    background: -webkit-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    background: -ms-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    font: 0.87rem 'Open Sans';
    width: 175px;
    height: 27px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1px 7px 2px;
}



/* BLOCK-1 */

.block-1 {
    background: url(../img/bg1.jpg) no-repeat center -20px;
    height: 1126px;
}

.block-1 h1 {
    font: 6.5rem 'bebas_neue_cyrillicregular';
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    padding: 140px 0 0;
    letter-spacing: 0.2px;
}

.block-1 h2 {
    font: 4.5rem 'bebas_neue_cyrillicregular';
    color: #e4e3e2;
    line-height: 70px;
    text-shadow: 0px 0px 2px #000;
}


/* BLOCK-2 */

.block-2 {
    height: 620px;
}

.block-2 h3 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #000;
    text-transform: uppercase;
}

.block-2 h3:after {
    content: '';
    position: relative;
    background: url(../img/line1.png) no-repeat center top;
    height: 16px;
    width: 960px;
    display: block;
    margin: 6px 0 44px;
}

.block-2 .ramka {
    border: 1px solid #333;
    font: 1.1rem 'Open Sans';
    color: #606060;
    display: inline-block;
    text-align: center;
    height: 65px;
    float: left;
    padding: 20px 2px;
    margin: 14px 24px 0 0;
    position: relative;
}

#ramka1 {
    width: 179px;
}

#ramka2 {
    width: 157px;
}

#ramka3 {
    width: 200px;
}

#ramka4 {
    width: 175px;
}

#ramka5 {
    width: 123px;
    margin-right: 0;
}

#ramka1:before {
    content: '';
    position: absolute;
    background: url(../img/sprite.jpg) no-repeat 6px 0px;
    width: 65px;
    height: 40px;
    display: block;
    top: -20px;
    left: 60px;
}

#ramka2:before {
    content: '';
    position: absolute;
    background: url(../img/sprite.jpg) no-repeat -190px 0px;
    width: 65px;
    height: 40px;
    display: block;
    top: -20px;
    left: 50px;
}

#ramka3:before {
    content: '';
    position: absolute;
    background: url(../img/sprite.jpg) no-repeat -401px 0px;
    width: 65px;
    height: 40px;
    display: block;
    top: -20px;
    left: 70px;
}

#ramka4:before {
    content: '';
    position: absolute;
    background: url(../img/sprite.jpg) no-repeat -614px 0px;
    width: 65px;
    height: 40px;
    display: block;
    top: -20px;
    left: 55px;
}

#ramka5:before {
    content: '';
    position: absolute;
    background: url(../img/sprite.jpg) no-repeat -800px 0px;
    width: 65px;
    height: 40px;
    top: -20px;
    left: 35px;
}

.block-2 .ramka span {
    font: bold 1.1rem 'Open Sans';
    color: #606060;
    color: #2c3c98;
}



/* BLOCK-3 */

.block-3 {
    background: url(../img/bg2.jpg) no-repeat center top;
    height: 487px;
}

.block-3 h3 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #fff;
    text-transform: uppercase;
    padding: 35px 0 0 258px;
}

.block-3 .ver2 {
    font: 1.8rem 'bebas_neue_cyrillicregular';
}

.block-3 h3 span {
    display: block;
}

.block-3 ul {
    padding: 30px 0 0 260px;
    background: url(../img/sprite2.png) no-repeat 215px 65px;
}

.block-3 ul li {
    font: 2rem 'bebas_neue_cyrillicregular';
    color: #fff;
    line-height: 25px;
    padding: 18px 0;
}

.block-3 ul li span {
    font: 1.1rem 'Open Sans';
    color: #fff;
    position: relative;
    padding: 0 0 0 20px;
    top: -5px;
}

.block-3 .verr2 {
    padding: 30px 0 0 260px;
    background: url(../img/sprite2.png) no-repeat 215px 65px;
}

.block-3 .verr2 li {
    font: 2rem 'bebas_neue_cyrillicregular';
    color: #fff;
    line-height: 25px;
    padding: 13px 0;
}


/* BLOCK-4 */

.block-4 {
    height: 870px;
}

.block-4b {
    height: 900px;
}

.block-4 h3 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #000;
    text-transform: uppercase;
    padding-top: 54px;
}

.block-4 h3:after {
    content: '';
    position: relative;
    background: url(../img/line1.png) no-repeat center top;
    height: 16px;
    width: 520px;
    display: block;
    margin: 6px auto;
}

.block-4 h4 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #000;
    text-transform: uppercase;
    margin-top: 150px;
    clear: both;
}

.block-4 h4:after {
    content: '';
    position: relative;
    background: url(../img/line1.png) no-repeat center top;
    height: 16px;
    width: 520px;
    display: block;
    margin: 6px auto;
}

.block-4 ul {
    display: inline-block;
    float: left;
}

.block-4b ul {
    margin-bottom: 160px;
}

.block-4 ul li {
    line-height: 20px;
}

.block-4 ul li span {
    display: block;
}

.block-4 #first {
    margin: 54px 0 0;
}

.block-4 #first li {
    font: 1rem 'Open Sans';
    color: #000;
    padding: 10px 0;
    vertical-align: top;
}

.block-4 #first li:nth-child(1) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 0;
    height: 70px;
    padding: 15px 0 0 87px;
    float: left;
}

.block-4 #first li:nth-child(2) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -86px;
    height: 70px;
    padding: 54px 0 0 89px;
    float: right;
}

.block-4 #first li:nth-child(3) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -241px;
    height: 70px;
    padding: 40px 0 0 89px;
    float: left;
}

.block-4 #first li:nth-child(4) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -590px;
    height: 70px;
    padding: 40px 0 0 89px;
    float: right;
}


.block-4 #second li:nth-child(5) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -361px;
    height: 70px;
    ;
    padding: 10px 0 0 87px;
    float: left;
}

.block-4 #second li:nth-child(6) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -446px;
    height: 70px;
    ;
    padding: 50px 0 0 87px;
    float: right;
}

.block-4 #second li:nth-child(7) div {
    display: inline-block;
    background: url(../img/sprite3.png) no-repeat 0 -590px;
    height: 70px;
    ;
    padding: 36px 0 0 89px;
    float: left;
}

.bubble {
    background-color: #fff;
    border: 3px solid #2c3c98;
    color: #333;
    font: 100 1.5rem 'Open Sans';
    padding: 12px 0 0 35px;
    position: relative;
    margin: 0 auto 30px;
    display: block;
    width: 341px;
    clear: both;
    height: 57px;
    top: 20px;
}

.bubble2 {
    background-color: #fff;
    border: 3px solid #2c3c98;
    color: #333;
    font: 1.1rem 'Open Sans';
    text-align: center;
    padding: 10px 0 0 0;
    position: relative;
    margin: 0 auto 30px;
    display: block;
    width: 350px;
    clear: both;
}

.bubble:after,
.bubble:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -20px;
    content: '';
    left: 50%;
    margin-left: -20px;
    position: absolute;
}


/* Styling for second triangle (border) */

.bubble:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid transparent;
    border-top-color: inherit;
    /* Can't be included in the shorthand to work */
    bottom: -23px;
    margin-left: -23px;
}

.block-4 .button-1 {
    font: bold 1.1rem 'Open Sans';
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
    width: 356px;
    display: block;
    position: relative;
    margin: 70px auto 30px;
    padding: 10px 0;
    clear: both;
    text-decoration: none;
}




/* BLOCK-5 */

.block-5 {
    background: url(../img/img1.png) no-repeat center -32px;
    height: 822px;
    z-index: 6;
    position: relative;
}


/* BLOCK-6 */

.block-6 {
    background: url(../img/img2.png) no-repeat center -26px;
    height: 785px;
    margin-top: -270px;
    position: relative;
    z-index: 5;
}



/* BLOCK-7 */

.block-7 {
    background: url(../img/img3.png) no-repeat center -22px;
    height: 800px;
    margin-top: -270px;
    position: relative;
    z-index: 4;
}



/* BLOCK-8 */

.block-8 {
    background: url(../img/img4.png) no-repeat center -14px;
    height: 800px;
    margin-top: -270px;
    position: relative;
    z-index: 3;
}



/* BLOCK-9 */

.block-9 {
    background: url(../img/img5.png) no-repeat center -9px;
    height: 600px;
    margin-top: -255px;
    position: relative;
    z-index: 1;
}


.block-9 .photo {
    color: #fff;
    float: left;
    margin-top: 240px;
    text-align: center;
    padding-right: 21px;
}

.block-9 .photo img {}

.block-9 .photo p {
    font: bold 1.1rem 'Open Sans';
    text-align: center;
}

.block-9 .photo p span {
    font: 1.1rem 'Open Sans';
    display: block;
}


.block-9 .comment {
    font: bold 1.42rem 'Open Sans';
    float: left;
    display: inline-block;
    width: 560px;
    margin-top: 303px;
    color: #fff;
    font-style: italic;
}







.about-r {
    text-align: center;
    float: right;
    margin: 315px 0 0;
    padding-right: 112px;
}

.about-r p {
    font: 1.7rem 'Open Sans';
    color: #fff;
}

.about-r .button-2 {
    font: bold 1.1rem 'Open Sans';
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
    width: 237px;
    position: relative;
    margin-top: 10px;
    padding: 2px 10px 6px;
}

.about-l {
    text-align: center;
    float: left;
    margin: 315px 0 0;
    padding-right: 112px;
}

.about-l p {
    font: 1.7rem 'Open Sans';
    color: #fff;
}

.about-l .button-2 {
    font: bold 1.1rem 'Open Sans';
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.28);
    width: 237px;
    position: relative;
    margin-top: 10px;
    padding: 2px 10px 6px;
}


/* BLOCK-10 */

.block-10 h3 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #000;
    text-transform: uppercase;
    padding-top: 40px;
}

.block-10 h3:after {
    content: '';
    position: relative;
    background: url(../img/line1.png) no-repeat center top;
    height: 16px;
    width: 445px;
    display: block;
    margin: 4px auto 0;
}

#owl-demo {
    margin: 45px 0;
}

.item .comment {
    float: left;
    display: inline-block;
    padding-right: 30px;
}

.item p {
    text-align: left;
    color: #000;
    font: 1rem 'Open Sans';
    float: left;
    display: inline-block;
    width: 600px;
    padding: 5px 0;
}



/* BLOCK-11 */

.block-11 {
    height: 490px;
    background: url(../img/bg3.jpg) no-repeat center top;
    text-align: center;
}

.block-11 h3 {
    font: 2.5rem 'bebas_neue_cyrillicregular';
    color: #000;
    text-transform: uppercase;
    padding: 40px 0;
}

.block-11 h3:after {
    content: '';
    position: relative;
    background: url(../img/line2.png) no-repeat center top;
    height: 16px;
    width: 400px;
    display: block;
    margin: 4px auto 0;
}

.block-11 img {
    width: 237px;
    cursor: pointer;
}



/* BLOCK-12 */

.block-12 {
    background: url(../img/bg4.jpg) no-repeat center bottom;
    height: 380px;
}




/* BLOCK-13 */

.block-13 {
    background: #2c3145;
    height: 55px;
}

.block-13 .place {
    background: url(../img/ico.png) no-repeat left 12px;
    color: #fff;
    font: 1.6rem 'Open Sans';
    padding: 10px 0 10px 30px;
    width: 450px;
    margin: 0 auto;
}

footer {
    background: #2c3145;
    height: 120px;
    color: #fff
}

footer button {
    background: -moz-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    background: -webkit-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    background: -ms-linear-gradient( 90deg, #F37D25 0%, #F37D25 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    font: 0.87rem 'Open Sans';
    width: 175px;
    height: 27px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 0 9px;
}


footer .develop {
    background: url(http://xn--80abdlacgmt1ah0arw.xn--p1ai/img/ico/logo.png) no-repeat left 8px;
    padding: 10px 0 0 34px;
    height: 27px;
    font: 0.87rem 'Open Sans';
    background-size: 7%;
    text-align: right;
    display: block;
    width: 290px;
    float: right;
}

footer .develop a {
    color: #fff;
}

footer .prava {
    float: right;
    padding-top: 4px;
}


.buklet {
    font: 1rem 'Open Sans';
    margin: 10px 0;
    position: relative;
    display: block;
    color: #000;
}

.sertificates {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


/*Регистрация  ИП под ключ*/


/* BLOCK-1 */

.block-1a {
    background: url(../img/bg5.jpg) no-repeat center -20px;
    height: 1126px;
}

.block-1a h1 {
    font: 6.5rem 'bebas_neue_cyrillicregular';
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    padding: 140px 0 0;
    letter-spacing: 0.2px;
}

.block-1a h2 {
    font: 4.5rem 'bebas_neue_cyrillicregular';
    color: #e4e3e2;
    line-height: 70px;
    text-shadow: 0px 0px 2px #000;
}


/*Ликвидация компаний под ключ*/


/* BLOCK-1 */

.block-1b {
    background: url(../img/bg6.jpg) no-repeat center -58px;
    height: 950px;
}

.block-1b h1 {
    font: 6.5rem 'bebas_neue_cyrillicregular';
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    padding: 140px 0 0;
    letter-spacing: 0.2px;
    text-align: center;
}

.block-1b h2 {
    font: 4.5rem 'bebas_neue_cyrillicregular';
    color: #e4e3e2;
    line-height: 70px;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
}

.form-1b {
    margin: 92px 0 0 105px;
}


/*Ликвидация орг под ключ*/


/* BLOCK-1 */

.block-1c {
    background: url(../img/bg7.jpg) no-repeat center -58px;
    height: 1126px;
}

.block-1c h1 {
    font: 6.5rem 'bebas_neue_cyrillicregular';
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    padding: 140px 0 0;
    letter-spacing: 0.2px;
    text-align: center;
}

.block-1c h2 {
    font: 4.5rem 'bebas_neue_cyrillicregular';
    color: #e4e3e2;
    line-height: 70px;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
}

.form-1c {
    margin: 160px 0 0 105px;
}



.tabs {
    position: relative;
    margin: 40px auto;
    width: 750px;
    color: #000;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}

.tabs input#tab-2 {
    left: 120px;
}

.tabs input#tab-3 {
    left: 240px;
}

.tabs input#tab-4 {
    left: 360px;
}

.tabs label {
    font-size: 15px;
    line-height: 40px;
    position: relative;
    padding: 10px;
    float: left;
    display: block;
    width: 180px;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -moz-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -webkit-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    background: -ms-linear-gradient( 90deg, #FB7400 0%, #FBB200 100%);
    font: 1rem 'Open Sans';
    cursor: pointer;
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked+label {
    background: #F3F3F3;
    z-index: 6;
}

.clear-shadow {
    clear: both;
}

.content {
    background: #F3F3F3;
    position: relative;
    width: 100%;
    height: 350px;
    z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 1;
    opacity: 0;
    font: 1rem 'Open Sans';
    color: #000;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.content div p {
    margin: 15px 0;
    cursor: pointer;
}

.tabs input.tab-selector-1:checked~.content .content-1,
.tabs input.tab-selector-2:checked~.content .content-2,
.tabs input.tab-selector-3:checked~.content .content-3,
.tabs input.tab-selector-4:checked~.content .content-4 {
    z-index: 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}

label {
    display: inline-block;
}

.block-4 .text-1 {
    font: 1.1rem 'Open Sans';
    text-align: center;
}

.block-4 .text-2 {
    font: 1.2rem 'Open Sans';
    text-align: center;
}

.block-4 .text-2 span {
    font: bold 1.2rem 'Open Sans';
    text-align: center;
}

.block-4 .text-3 {
    font: 1.2rem 'Open Sans';
    text-align: center;
    margin-top: 20px;
}

#delo {
    display: block;
    margin: 0 auto;
}


.links {
    font: 1.4rem 'Open Sans';
    color: #000;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 20px 0;
}


footer a {
    color: white!important;
}

.block-3 .verr2 b {
    color: #d44f68;
}

img.about-photo {
    float: left;
    width: 350px;
    margin: 20px 30px;
}

.block-2 * {
    vertical-align: top;
}

.about-text {
    display: inline-block;
    width: 500px;
}

.block-2 li {
    margin: 10px 0 0 10px;
    list-style: decimal;
}

.block-2 h4 {
    padding: 5px 0;
}



/* content
-------------------------------*/

.work_ord {
    margin-bottom: 20px;
}

.work_ord .item {
    margin-bottom: 15px;
    font-size: 18px;
    height: 103px;
    padding: 0 25px;
}

.work_ord .item .pik {
    position: relative;
    z-index: 0;
    float: left;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    background: #fff url(../img/work_ord.png) 0 0 no-repeat;
    border-radius: 50%;
    border: 2px dashed #7b7b7b;
}

.work_ord .item .pik.p2 {
    background-position: -110px 0;
}

.work_ord .item .pik.p3 {
    background-position: 0 -110px;
}

.work_ord .item .pik.p4 {
    background-position: -110px -110px;
}

.work_ord .item .pik.p5 {
    background-position: 0 -220px;
}

.work_ord .item.fl_r .pik {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.work_ord .item .pik:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -102px 0 0 -112px;
    width: 224px;
    height: 204px;
    background: url(../img/vv1.png) 50% 50% no-repeat;
    z-index: -1;
}

.work_ord .item .pik.p2:before {
    background-image: url(../img/vv2.png);
    margin: -117px 0 0 -103px;
}

.work_ord .item .pik.p3:before {
    background-image: url(../img/vv3.png);
    margin: -121px 0 0 -113px;
}

.work_ord .item .pik.p4:before {
    background-image: url(../img/vv4.png);
    margin: -123px 0 0 -93px;
}

.work_ord .item .pik.p5:before {
    background-image: url(../img/vv5.png);
    margin: -122px 0 0 -110px;
}

.work_ord .item .txt {
    height: 100px;
    overflow: hidden;
    line-height: 75px;
}

.work_ord .item .txt>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.work_ord .item.fl_r .txt {
    text-align: right;
}

.work_ord .item .txt .accent {
    color: #d44f68;
}


.work_ord.reasons .item .pik {
    width: 77px;
    height: 77px;
    border: none;
    background: url(../img/reasons.png) 0 0 no-repeat;
}

.work_ord.reasons .item .pik.p2 {
    background-position: -80px 0;
}

.work_ord.reasons .item .pik.p3 {
    background-position: 0 -80px;
}

.work_ord.reasons .item .pik.p4 {
    background-position: -80px -80px;
}

.work_ord.reasons .item .pik.p5 {
    background-position: 0 -160px;
}

.work_ord.reasons .item .pik.p6 {
    background-position: -80px -160px;
}

.work_ord.reasons .item .pik.p7 {
    background-position: 0 -240px;
}

.work_ord.reasons .item .pik:before {
    display: none;
}


.block-8 .about-l {
    margin: 260px 0 0;
}

.logo img {
    height: 80px;
}